/*.App {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*}*/


/*.top-bar {*/
/*  background-color: black;*/
/*  color: white;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  padding: 10px;*/
/*}*/

/*.left-section {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.login-text {*/
/*  margin-right: 10px;*/
/*}*/

/*.right-section {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.menu-option {*/
/*  margin-left: 10px;*/
/*}*/

/*.content {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.footer {*/
/*  background-color: black;*/
/*  color: white;*/
/*  padding: 10px;*/
/*  text-align: center;*/
/*}*/

/*.textbox {*/
/*  margin-bottom: 10px;*/
/*  padding: 5px;*/
/*}*/

/*.register-button {*/
/*  background-color: black;*/
/*  color: white;*/
/*  padding: 10px 20px;*/
/* */
/*}*/

/*.login-button {*/
/*  background-color: blue;*/
/*  color: white;*/
/*  padding: 10px 20px;*/
/*}*/


/*		!* Estilos para las cards *!*/
/*		.cards {*/
/*			display: flex;*/
/*			flex-wrap: wrap;*/
/*			justify-content: space-between;*/
/*			padding: 20px;*/
/*		}*/

/*		.card {*/
/*			width: calc(33.33% - 20px);*/
/*			margin-bottom: 20px;*/
/*			background-color: #f7f7f7;*/
/*			box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
/*			border-radius: 5px;*/
/*			overflow: hidden;*/
/*		}*/

/*		.card img {*/
/*			width: 100%;*/
/*			height: auto;*/
/*			object-fit: cover;*/
/*		}*/

/*		.card h2 {*/
/*			padding: 10px;*/
/*			margin: 0;*/
/*			font-size: 18px;*/
/*			font-weight: bold;*/
/*			text-align: center;*/
/*		}*/

/*    .card {*/
/*      width: 100%;*/
/*    }*/
/**/